@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    background-color: black;
    font-family: quicksand;
    padding: 0 15px;
    font-size: 15px;
}

body {
    color: white;
    max-width: 1250px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

/* Text */

.red {
    color: red;
}

.grey {
    color: grey;
}

/* Buttons */

button {
    border-radius: 5px;
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border: none;
}

button.red {
    color: white;
    background-color: red;
}

button.black {
    color: white;
    background-color: black;
    box-sizing: content-box;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Dropdowns */

select {
    border-radius: 5px;
    font-family: Quicksand;
    font-size: 20px;
    padding: 8px;
    border: 2px solid white;
    background-color: black;
    color: white;
}

/* Logo */

#logo {
    color: white;
    font-size: 35px;
    font-weight: bold;
    width: fit-content;
}

/* Navigation Bar */

nav {
    padding: 15px 0;
    background-color: hsla(0,100%,0%,0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Sections */

nav, section {
    padding: 15px 0;
}

/* Hero */

#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.one-half {
    width: 50%;
    box-sizing: border-box;
}

.one-half h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.one-half button {
    margin-top: 20px;
}

.main-headline .middle {
    color: red;
    font-size: 3rem;
}

.one-half img {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
}

/* Logos */

#logos {
    display: flex;
    border: 1px dashed blue;
    flex-wrap: wrap;
}

#logos div {
    height: 100px;
    width: 150px;
    border: 1px dashed blue;
    display: flex;
    justify-content: center;
}

#logos div img {
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
}

/* Explanation */

#explanation p {
    line-height: 150%;
}

/* Steps */

.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    padding: 50px 0;
}

.steps > div {
    border: 3px solid white;
    border-radius: 15px;
    width: 140px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0.5;
    transition-duration: 0.5s;
}

.steps > div:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

.steps > div p {
    margin-bottom: 0;
}

.steps > div img {
    filter: invert(100%);
    width: 65px;
}

/* Footer */

footer {
    color: grey;
    margin-top: 30px;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

footer p {
    text-align: center;
    font-size: 15px;
}

.social-media-links {
    display: flex;
    justify-content: center;
}

.social-media-links a img {
    height: 30px;
    width: 30px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

/* Media Queries */

@media (max-width: 768px) {

    .one-half {
        width: 100%;
    }
}