@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    color: white;
    background-color: black;
    font-family: quicksand;
    margin: 0;
}

/* Buttons */

button {
    border-radius: 5px;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
}

button.red {
    color: white;
    background-color: red;
}

button.black {
    color: white;
    background-color: black;
    border: 2px solid white;
    box-sizing: content-box;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Dropdowns */

select {
    border-radius: 5px;
    font-family: Quicksand;
    font-size: 20px;
    padding: 8px;
    border: none;
}

/* Logo */

#logo {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    width: fit-content;
}

/* Navigation Bar */

nav {
    padding: 15px 0;
    background-color: hsla(0,100%,0%,0.75);
}

nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Sections */

nav, section {
    padding: 20px;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

/* Hero */

#hero .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.one-half {
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 50px;
}

.one-half .main-headline {
    margin: 0 0 20px 0;
    font-size: 6.5rem;
    font-weight: bold;
}

.main-headline .middle {
    color: grey;
    font-size: 3rem;
}

.one-half img {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.one-half button {
    margin: 5px;
}

/* Explanation */

#explanation {
    background-color: dimgray;
}

#explanation p {
    line-height: 150%;
}

/* Footer */

footer {
    margin-top: 30px;
}

footer p {
    text-align: center;
    font-size: 15px;
}

footer a, footer p {
    color: grey;
}

.social-media-links {
    display: flex;
    justify-content: center;
    padding: 25px 0 10px 0;
}

.social-media-links div {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

#email {
    background-image: url('./images/email-white.png');
    transition-duration: 1s;
}

#email:hover {
    background-image: url('./images/email-red.png');
    transition-duration: 1s;
}

#facebook {
    background-image: url('./images/facebook-white.png');
    transition-duration: 1s;
}

#facebook:hover {
    transition-duration: 1s;
    background-image: url('./images/facebook-red.png');
}

#linkedin {
    background-image: url('./images/linkedin-white.png');
    transition-duration: 1s;
}

#linkedin:hover {
    transition-duration: 1s;
    background-image: url('./images/linkedin-red.png');
}

/* Media Queries */

@media (max-width: 425px) {
    .top {
        font-size: 60px;
    }

    .main-headline .middle {
        font-size: 30px;
    }

    .bottom {
        font-size: 60px;
    }
}